@font-face{
    font-family: 'HankenGrostesk';
    font-display: swap;
    font-weight: 100 900;
    src: url('assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
}

:root {
    --clr-primary-hsl-400: 252, 100%, 67%;
    --clr-primary-hsl-500: 252, 72%, 46%;
    --clr-secondary-hsl-400: 241, 81%, 54%;
    --clr-secondary-hsl-500: 241, 72%, 46%;

    --clr-neutral-hsl-100: 0, 0%, 100%;
    --clr-neutral-hsl-200: 221, 100%, 96%;
    --clr-neutral-hsl-300: 241, 100%, 89%;
    --clr-neutral-hsl-400: 224, 30%, 27%;

    --clr-neutral-100: hsl(var(--clr-neutral-hsl-100));
    --clr-neutral-200: hsl(var(--clr-neutral-hsl-200));
    --clr-neutral-300: hsl(var(--clr-neutral-hsl-300));

    /*Primary*/
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    /*Gradients extremities*/
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);

    /*Gradients*/
    --gradient-primary: linear-gradient(180deg, hsl(252, 100%, 67%), hsl(252, 72%, 46%));
    --gradient-secondary: linear-gradient(180deg, hsl(252, 72%, 46%, 1), hsl(241, 72%, 46%, 0));

    /*Neutral*/
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
    --weak-text: #8c8896;

    --font-family-default: 'HankenGrostesk';

    --fw-regular: 500;
    --fw-bold: 700;
    --fw-black: 800;

    --fs-400: 1.125rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 1.75rem;
    --fs-800: 2rem;
    --fs-900: 5rem;
}

/*Reset*/
* {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
    font-family: var(--font-family-default), serif;
    font-size: var(--fs-400);
    color: var(--light-lavender);
}

img, svg{
    display: block;
    max-width: 100%;
    height: auto;
}

.big-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50rem;
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top: 5rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.result{
    /*border: solid .1rem red;*/
    flex: 1;
    background: var(--gradient-primary);
    border-radius: 1rem;
    margin: 0;
    padding-top: 2.3rem;
    padding-bottom: 3.5rem;
    gap: 1.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result-title{
    font-size: var(--fs-600);
    font-weight: bold;
}

.result-score{
    border-radius: 50rem;
    width: 12rem;
    margin-inline: auto;
    background: var(--gradient-secondary);
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-weight: bold;
}

.result-score > span{
    font-size: var(--fs-900);
    font-weight: bold;
    color: var(--white);
}

.bottom-title{
    font-size: var(--fs-700);
    color: var(--white);
}

.bottom-paragraph{
    font-size: 1rem;
    text-align: center;
}

.summary{
    /*border: solid .1rem red;*/
    width: 25rem;
    padding: 0;
}

.summary-header{
    color: black;
    padding-left: 3rem;
    font-size: var(--fs-600);
    font-weight: bold;
}

.summary-body{
    /*border: solid .1rem black;*/
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
    margin: 0;
}

/* Common styles */
.summary-item {
    border-radius: .5rem;
    width: 17rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 0.1rem;
    align-items: center;
}

.summary-label {
    padding-left: .5rem;
    margin-right: auto;
}

.summary-value {
    color: var(--weak-text);
}

.summary-value b {
    color: var(--dark-gray-blue);
    font-weight: bold;
}

/* Specific styles using data attributes */
.summary-item[data-type="reaction"] {
    background-color: #fff6f5;
}

.summary-item[data-type="reaction"] .summary-label {
    color: var(--light-red);
}

.summary-item[data-type="memory"] {
    background-color: #fffbf2;
}

.summary-item[data-type="memory"] .summary-label {
    color: var(--orangey-yellow);
}

.summary-item[data-type="verbal"] {
    background-color: #f2fbfa;
}

.summary-item[data-type="verbal"] .summary-label {
    color: var(--green-teal);
}

.summary-item[data-type="visual"] {
    background-color: #f3f3fd;
}

.summary-item[data-type="visual"] .summary-label {
    color: var(--cobalt-blue);
}

.summary-item[data-type="button"] {
    background-color: var(--dark-gray-blue);
    border-radius: 5rem;
    margin-top: 1rem;
    color: var(--white);
    justify-content: center;
    cursor: pointer;
    border: none;
    text-align: center;
}

.summary-item[data-type="button"]:hover {
    background-color: red;
}
